@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 64rem) {
    max-width: 84.5rem;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--content-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--content-secondary);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-content-primary: var(--content-primary);
  --color-content-soft: var(--content-soft);
  --color-surface-x-soft: var(--surface-x-soft);
  --color-surface-tolt: var(--surface-tolt);
  --color-content-secondary: var(--content-secondary);
  --color-surface-soft: var(--surface-soft);
  --color-border-default: var(--border-default);
  --color-border-soft: var(--border-soft);
  --color-primary-600: #5a4fd8;
  --color-primary: var(--surface-primary);
  --color-content-brand: #7064e9;
  --color-content-medium: var(--content-medium);
  --color-content-success-light: #067647;
  --color-content-error-light: #e93544;
  --color-blackest: var(--blackest);
  --color-content-default: var(--content-default);
  --color-surface-base-extralight: var(--surface-base-extralight);
  --gradient-primary: linear-gradient(270deg, #7064e9 0%, #dd00ac 100%);
  --color-base-subtle: rgba(204, 206, 239, 0.02);
  --color-surface-base-soft: rgba(204, 206, 239, 0.12);
  --color-content-brand-light: #8c71f6;
  --color-content-warning-light: #f79009;
  --color-content-success-light: #067647;
  --color-surface-base-dark: var(--surface-base-dark);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --content-primary: #0f0f14;
  --content-soft: rgba(100, 100, 100, 0.7);
  --surface-x-soft: rgba(2, 2, 3, 0.02);
  --surface-tolt: #e0e0e0;
  --surface-base-dark: #ffffff;
  --content-secondary: #565e78;
  --mdx-tolbar: #ededed;
  --content-default: #373842;
  --border-default: rgba(2, 2, 3, 0.04);
  --border-soft: rgba(204, 206, 239, 0.12);
  --surface-soft: rgba(2, 2, 3, 0.04);
  --surface-primary: #7064e9;
  --blackest: #f5f5f5;
  --surface-base-extralight: rgba(22, 22, 26, 0.06);
}

.dark {
  --background: #070710;
  --foreground: oklch(0.86 0.05 282.7);
  --card: oklch(0.86 0.05 282.7 / 0.04);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.86 0.05 282.7 / 0.04);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: rgba(115, 118, 170, 0.2);
  --input: rgba(115, 118, 170, 0.2);
  --ring: oklch(0.55 0.25 278.02);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --content-primary: #ccceef;
  --content-soft: rgba(154, 156, 207, 0.4);
  --surface-x-soft: rgba(204, 206, 239, 0.04);
  --surface-tolt: #2d2d3c;
  --surface-base-dark: #121217;
  --content-secondary: #9a9ccf;
  --content-default: #9798b6;
  --mdx-tolbar: #1a1a24;
  --border-default: rgba(115, 118, 170, 0.2);
  --border-soft: rgba(204, 206, 239, 0.12);
  --surface-soft: rgba(255, 255, 255, 0.04);
  --surface-primary: #7064e9;
  --content-medium: #7e7f94;
  --blackest: #0f1021;
  --surface-base-extralight: rgba(204, 206, 239, 0.06);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply min-h-dvh bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* heading */
  .page-title {
    @apply text-2xl md:text-3xl lg:text-4xl font-semibold leading-[1.2] -tracking-[0.36px] text-content-primary;
  }

  /* text */
  .text-body-15 {
    @apply text-[15px] leading-[1.5] -tracking-[0.15px];
  }

  .text-label-12 {
    @apply text-xs leading-[1.2] -tracking-[0.12px];
  }
}

/* View Transition Wave Effect */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  /* Ensure the outgoing view (old theme) is beneath */
  z-index: 0;
}

::view-transition-new(root) {
  /* Ensure the incoming view (new theme) is always on top */
  z-index: 1;
}

@keyframes reveal {
  from {
    /* Use CSS variables for the origin, defaulting to center if not set */
    clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
    opacity: 0.7;
  }
  to {
    /* Use CSS variables for the origin, defaulting to center if not set */
    clip-path: circle(150% at var(--x, 50%) var(--y, 50%));
    opacity: 1;
  }
}

::view-transition-new(root) {
  /* Apply the reveal animation */
  animation: reveal 0.4s ease-in-out forwards;
}

/* MDX Editor root variable */
.mdx_editor_root,
._editorRoot_1e2ox_53 {
  --basePageBg: var(--surface-base-dark) !important;
  --baseBase: var(--surface-tolt) !important;
  --baseBg: var(--mdx-tolbar) !important;
  --baseBgHover: var(--surface-tolt);
  --baseBgActive: var(--surface-tolt) !important;
  --baseText: var(--content-primary) !important;
  --baseTextContrast: var(--content-default) !important;
  --baseSolid: var(--content-soft) !important;
}

.dark\:prose-invert {
  &:is(.dark *) {
    --tw-prose-body: var(--content-default);
    --tw-prose-headings: var(--content-primary);
    --tw-prose-links: var(--color-content-brand);
    --tw-prose-bold: var(--content-primary);
  }
}

/* Redix ui scrollbar remove problem issue fix */
html {
  body[data-scroll-locked] {
    overflow-y: auto !important;
    margin-right: 0px !important;
  }
}
